<h3>Add your favorite beer!</h3>

<% if @error_messages %>
  <ul class="error">
    <% @error_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div>
  <form method="post" action="/beers">
    <div>
      <label for="beer_name">Name:</label>
      <input type="text" id="beer_name" placeholder="Add your beer!" name="beer[name]" value=<%= @name %>>
    </div>
    <div>
      <label for="beer_description">Description:</label>
      <input type="text" id="beer_description" name="beer[description]" value=<%= @description %>>
    </div>

    <div>
      <input type="submit" value="Cheers!">
    </div>
  </form>
</div>
